<body>
  <h1>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a
        routerLink="/chat-def"
        routerLinkActive="active"
        class="btn btn-secondary"
      >
        <i class="fa-solid fa-backward"></i> <br />Come back
      </a>
      <button (click)="showMessagesPerDaySection()" class="btn btn-secondary">
        Mensajes por dia
      </button>
      <button (click)="showUsersPerGroupSection()" class="btn btn-secondary">
        Usuarios por grupo
      </button>
      <button (click)="showInactiveUsersSection()" class="btn btn-secondary">
        Usuarios Activos <br />e inactivos
      </button>
      <button (click)="showInactiveGroupsSection()" class="btn btn-secondary">
        Grupos Activos <br />e inactivos
      </button>
      <button class="btn btn-secondary">
        <i class="fa-solid fa-download"></i> <br>Download PDF
      </button>
    </div>
  </h1>

  <div *ngIf="showMessagesPerDay">
    <h2>Mensajes por día</h2>
    <div class="mb-3 d-flex justify-content-center">
      <div style="max-width: 700px">
        <label for="messagesPerDayFilter" class="form-label">Filter by:</label>
        <div class="input-group input-group-sm">
          <select
            id="messagesPerDayFilter"
            class="form-select"
            [(ngModel)]="selectedMessagesPerDayFilter"
            (change)="filterMessagesPerDay()"
          >
            <option value="name">Name</option>
            <option value="date">Date</option>
            <option value="date-range">Date Range</option>
            <option value="value">Number of Messages</option>
            <option value="rrhh_id">RRHH ID</option>
          </select>

          <div
            *ngIf="
              selectedMessagesPerDayFilter === 'name' ||
              selectedMessagesPerDayFilter === 'value' ||
              selectedMessagesPerDayFilter === 'rrhh_id'
            "
          >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="messagesPerDayFilterValue"
              (input)="filterMessagesPerDay()"
              placeholder="Enter filter value"
            />
          </div>

          <div *ngIf="selectedMessagesPerDayFilter === 'date'">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="selectedDate"
              (input)="filterMessagesPerDay()"
              placeholder="Enter date (YYYY-MM-DD)"
            />
          </div>

          <div *ngIf="selectedMessagesPerDayFilter === 'date-range'">
            <input
              type="text"
              id="startDate"
              class="form-control"
              [(ngModel)]="startDate"
              (input)="filterMessagesPerDay()"
              placeholder="Start date (YYYY-MM-DD)"
            />
            <input
              type="text"
              id="endDate"
              class="form-control"
              [(ngModel)]="endDate"
              (input)="filterMessagesPerDay()"
              placeholder="End date (YYYY-MM-DD)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="export-button-container">
      <button class="btn btn-primary export-button" (click)="exportPDF()">Exportar Excel</button>
    </div>
    <br /><br />
    <ngx-charts-line-chart
      [view]="[800, 400]"
      [results]="filteredMessagesPerDayData"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [legendTitle]="'Messages per Day'"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Dates'"
      [yAxisLabel]="'Messages per Day'"
    >
    </ngx-charts-line-chart>
  </div>

  <div *ngIf="showUsersPerGroup">
    <h2>Users Per Group</h2>
    <div class="mb-3 d-flex justify-content-center">
      <div style="max-width: 700px">
        <label for="usersPerGroupFilter" class="form-label">Filter by:</label>
        <div class="input-group input-group-sm">
          <select
            id="usersPerGroupFilter"
            class="form-select"
            [(ngModel)]="selectedUsersPerGroupFilter"
            (change)="filterUsersPerGroup()"
          >
            <option value="name">Name</option>
            <option value="value">Value</option>
          </select>
          <div
            *ngIf="
              selectedUsersPerGroupFilter === 'name' ||
              selectedUsersPerGroupFilter === 'value'
            "
          >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="usersPerGroupFilterValue"
              (input)="filterUsersPerGroup()"
              placeholder="Enter filter value"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="export-button-container">
      <button class="btn btn-primary export-button" (click)="exportGroupInfo()">Exportar Excel</button>
    </div>
    <br /><br />
    <ngx-charts-bar-vertical
      [view]="[900, 450]"
      [results]="filteredUsersPerGroupData"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [legendTitle]="'Users per Group'"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Groups'"
      [yAxisLabel]="'Number of Users per Group'"
    >
    </ngx-charts-bar-vertical>
  </div>

  <div *ngIf="showInactiveUsers">
    <h2>Active and Inactive Users</h2>
    <div class="input-group input-group-sm mb-3 d-flex justify-content-between">
      <div>
        <label for="inactiveUsersChartType" class="form-label">Chart Type:</label>
        <select
          id="inactiveUsersChartType"
          class="form-select"
          [(ngModel)]="inactiveUsersChartType"
          (change)="updateInactiveUsersChart()"
        >
          <option value="normal">Normal</option>
          <option value="advanced">Advanced</option>
        </select>
      </div>

      <div>
        <label for="inactiveUsersTypeFilter" class="form-label">Type Filter:</label>
        <select
          id="inactiveUsersTypeFilter"
          class="form-select"
          [(ngModel)]="inactiveUsersTypeFilter"
          (change)="updateInactiveUsersChart()"
        >
          <option value="0" >General</option>
          <option value="1">Users</option>
          <option value="2">Groups</option>
        </select>
      </div>

      <div>
        <label for="inactiveUsersTimeFilter" class="form-label">Time Filter:</label>
        <div class="d-flex">
          <select
            id="inactiveUsersTimeFilter"
            class="form-select"
            [(ngModel)]="inactiveUsersTimeFilter"
            (change)="updateInactiveUsersChart()"
          >
            <option value="5" selected>Hora</option>
            <option value="4">Día</option>
            <option value="3">Semana</option>
            <option value="2">Mes</option>
            <option value="1">Año</option>
          </select>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="inactiveUsersTimeValue"
            (input)="updateInactiveUsersChart()"
            placeholder="Enter value"
            value="1"
          />
        </div>
      </div>

    </div>
    <div class="export-button-container">
      <button class="btn btn-primary export-button" (click)="exportPDF()">Exportar Excel</button>
    </div>

    <div class="center-chart">
      <ngx-charts-pie-chart
        *ngIf="inactiveUsersChartType === 'normal'"
        [view]="[1200, 500]"
        [results]="inactiveUsersData"
        [scheme]="colorScheme"
        [legend]="true"
        [legendTitle]="'Active and Inactive Users'"
        [explodeSlices]="false"
        [labels]="true"
        [doughnut]="false"
      >
      </ngx-charts-pie-chart>
      <ngx-charts-advanced-pie-chart
        *ngIf="inactiveUsersChartType === 'advanced'"
        [view]="[1200, 500]"
        [results]="inactiveUsersData"
        [legend]="true"
        [legendTitle]="'Active and Inactive Users'"
        [labels]="true"
        [doughnut]="false"
      >
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>


  <div *ngIf="showInactiveGroups">
    <h2>Active and Inactive Groups</h2>
    <div class="input-group input-group-sm mb-3 d-flex justify-content-between">
      <div>
        <label for="inactiveGroupsChartType" class="form-label">Chart Type:</label>
        <select
          id="inactiveGroupsChartType"
          class="form-select"
          [(ngModel)]="inactiveGroupsChartType"
          (change)="updateInactiveGroupsChart()"
        >
          <option value="normal">Normal</option>
          <option value="advanced">Advanced</option>
        </select>
      </div>


      <div>
        <label for="inactiveGroupsTimeFilter" class="form-label">Time Filter:</label>
        <div class="d-flex">
          <select
            id="inactiveGroupsTimeFilter"
            class="form-select"
            [(ngModel)]="inactiveGroupsTimeFilter"
            (change)="updateInactiveGroupsChart()"
          >
            <option value="5" selected>Hora</option>
            <option value="4">Día</option>
            <option value="3">Semana</option>
            <option value="2">Mes</option>
            <option value="1">Año</option>
          </select>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="inactiveGroupsTimeValue"
            (input)="updateInactiveGroupsChart()"
            placeholder="Enter value"
            value="1"
          />
        </div>
      </div>
    </div>

    <div class="export-button-container">
      <button class="btn btn-primary export-button" (click)="exportPDF()">Exportar Excel</button>
    </div>

    <div class="center-chart">
      <ngx-charts-pie-chart
        *ngIf="inactiveGroupsChartType === 'normal'"
        [view]="[1200, 500]"
        [results]="inactiveGroupsData"
        [scheme]="colorScheme"
        [legend]="true"
        [legendTitle]="'Active and Inactive Groups'"
        [explodeSlices]="false"
        [labels]="true"
        [doughnut]="true"
      >
      </ngx-charts-pie-chart>
      <ngx-charts-advanced-pie-chart
        *ngIf="inactiveGroupsChartType === 'advanced'"
        [view]="[1200, 500]"
        [results]="inactiveGroupsData"
        [legend]="true"
        [legendTitle]="'Active and Inactive Groups'"
        [labels]="true"
        [doughnut]="true"
      >
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>


</body>

<!-- pie chart to show the users active and inactive -->

<!-- <div *ngIf="showUsuariosInactivos">
    <h2>Usuarios Activos e Inactivos</h2>
    <ngx-charts-pie-chart
      [view]="[1200, 500]"
      [results]="usuariosInactivosData"
      [scheme]="colorScheme"
      [legend]="true"
      [legendTitle]="'Usuarios Activos e Inactivos'"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="false">
    </ngx-charts-pie-chart>
  </div> -->

<!-- pie chart to show the groups active and inactive -->

<!--
  <div *ngIf="showGruposInactivos">
    <h2>Grupos Activos e Inactivos </h2>
    <ngx-charts-pie-chart
      [view]="[1200, 500]"
      [results]="gruposInactivosData"
      [scheme]="colorScheme"
      [legend]="true"
      [legendTitle]="'Grupos Activos e Inactivos'"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="true">
    </ngx-charts-pie-chart>
  </div> -->
