<body>

    <div class="card mb-sm-3 mb-md-0 contacts_card">

      <div class="card-header"  >
        <div class="input-group">
          <input type="text" placeholder="Search..." [(ngModel)]="filterValue" (input)="applyFilter()" class="form-control search"/>
          <div class="input-group-append">
            <span class="input-group-text search_btn">
              <i class="fas fa-search"></i>
            </span>
            <button *ngIf="canCreateGroup()" class="btn btn-outline-light ml-1" type="button" data-toggle="modal" data-target="#createGroupModal">
              <i class="fas fa-plus"></i>
            </button>
            <!-- <a class="btn btn-outline-light ml-1">
              <i class="fas fa-cog"></i> History
            </a> -->
            <a href="/message-history-user" #historyButton class="btn btn-outline-light ml-1" style="display: none">
              <i class="fas fa-cog"></i> History
            </a>
            <button type="button" class="btn btn-outline-light ml-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-box-archive"></i>
              <!-- <i class="fa-solid fa-folder"></i> -->
            </button>
          </div>
        </div>
      </div>

      <div class="btn-group">
        <a routerLink="/chat-def" routerLinkActive="active" class="btn btn-secondary btn-lg">
          <i class="fas fa-comment"></i> Chats
        </a>
        <a routerLink="/group-def" routerLinkActive="active" class="btn btn-secondary btn-lg">
          <i class="fas fa-users"></i> Group chats
        </a>
      </div>

      <!-- content of chats normal -->

      <div class="card-body contacts_body">
        <ul class="contacts">
          <a
            *ngFor="let group of filteredGroups" (click) = "setGroupId(group.id)"
          >
            <li>
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <!-- <img src="https://e1.pngegg.com/pngimages/670/695/png-clipart-goku-ssj-blue-v3-son-guko-character.png" class="rounded-circle user_img"/> -->
                  <img src="https://i.pinimg.com/564x/ba/fb/cf/bafbcfca1737d802dda07214e8a680ca.jpg" class="rounded-circle user_img"/>
                  <!-- <img src="https://i.pinimg.com/564x/cd/d7/78/cdd7782c22c97ff226a0c23e8c002092.jpg" class="rounded-circle user_img"/> -->
                </div>
                <div class="user_info">
                  <span>{{ group.name }}</span>
                  <p *ngIf="group.lastMessage">
                    {{
                      group.lastMessage.sender_id == currentUser.userData.id
                        ? "tu: "
                        : (group.lastMessage.sender_name | slice : 0 : 5) + ": "
                    }}
                    {{
                      (group.lastMessage.content | slice : 0 : 25) +
                        "... " +
                        (group.lastMessage.created_at
                          | date : "dd/MM/yyyy h:mm a")
                    }}
                  </p>
                  <p *ngIf="!group.lastMessage">No hay mensajes</p>
                  <div *ngIf="group.unreadMessages" class="unread_indicator">
                    {{ group.unreadMessages }}
                  </div>
                </div>
              </div>
            </li>
          </a>
        </ul>
        <div *ngIf="filteredGroups.length === 0" class="no-contacts-message">
          Actualmente no tienes ni estas en ningun grupo
        </div>
        <div class="d-flex justify-content-center" *ngIf="filteredGroups && groups">
          <button *ngIf="filteredGroups.length < groups.length" (click)="loadMoreGroups()" class="btn btn-link">Ver más</button>
        </div>
      </div>

      <div class="card-footer"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true" *ngIf="canCreateGroup()">
      <div class="modal-dialog" role="document" *ngIf="canCreateGroup()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createGroupModalLabel">Create Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="createGroupForm">
              <div class="form-group">
                <label for="groupName">Name</label>
                <input type="text" class="form-control" id="groupName" formControlName="groupName" placeholder="Enter group name"/>
              </div>
              <h3>Participants</h3>
              <div formArrayName="participants">
                <div *ngFor="let participant of participants; let i = index" class="form-check" style="display: inline-block; margin-left: 5%" >
                  <input type="checkbox" class="form-check-input" [id]="'participant-' + participant.id" [formControlName]="i" />
                  <label class="form-check-label" [for]="'participant-' + participant.id" >{{ participant.name }}</label >
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >
              Close
            </button>
            <button type="button" class="btn btn-primary" (click)="createGroup()" data-dismiss="modal" >
              Create Group
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal archive groups -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog archive">
        <div class="modal-content">
          <div class="modal-header">
            <div class="input-group">
              <input type="text" placeholder="Search archived groups..." [(ngModel)]="filterValueArchive" (input)="applyFilterArchive()" class="form-control search" />
            </div>
          </div>
          <div class="modal-body">
            <ul class="contacts">
              <a *ngFor="let group of filteredArchiveGroups" (click) = "setGroupId(group.id)" data-bs-dismiss="modal">
                <li>
                  <div class="d-flex bd-highlight">
                    <div class="img_cont">
                      <img src="https://i.pinimg.com/564x/ba/fb/cf/bafbcfca1737d802dda07214e8a680ca.jpg" class="rounded-circle user_img"/>
                    </div>
                    <div class="user_info2">
                      <span>{{ group.name }}</span>
                    </div>
                  </div>
                </li>
              </a>
            </ul>
            <div class="d-flex justify-content-center" *ngIf="filteredArchiveGroups && archiveGroups">
              <button *ngIf="filteredArchiveGroups.length < archiveGroups.length" (click)="loadMoreArchiveGroups()" class="btn btn-link">View more</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</body>
