<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>

  <br><br>

    <h1>Messages</h1>

    <br>

    <h2>Receiver Messages</h2>

    <table class="container">
        <thead>
            <tr>
                <th><h1>#</h1></th>
                <th><h1>Sender</h1></th>
                <th><h1>Receiver</h1></th>
                <th><h1>Message</h1></th>
                <th><h1>Read</h1></th>
                <th><h1>Timestamps</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>goku</td>
                <td>veggeta</td>
                <td>xd</td>
                <td>yes</td>
                <td>01:32:50 AM</td>
            </tr>
            <tr>
                <td>2</td>
                <td>veggeta</td>
                <td>goku</td>
                <td>xd</td>
                <td>yes</td>
                <td>01:32:50 AM</td>
            </tr>
        </tbody>
    </table>

    <br><br>
    <h2>Group Messages</h2>

    <table class="container">
        <thead>
            <tr>
                <th><h1>#</h1></th>
                <th><h1>Sender</h1></th>
                <th><h1>Group</h1></th>
                <th><h1>Message</h1></th>
                <th><h1>Read</h1></th>
                <th><h1>Timestamps</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>goku</td>
                <td>the seven</td>
                <td>pelea con el bills</td>
                <td>yes</td>
                <td>01:32:50 PM</td>
            </tr>
            <tr>
                <td>2</td>
                <td>veggeta</td>
                <td>the seven</td>
                <td>bres</td>
                <td>yes</td>
                <td>01:32:50 PM</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

<!-- <p>message-history works!</p> -->
