<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
          <app-group-list></app-group-list>
        </div>

        <div class="col-md-8 col-xl-6 chat">
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img
                    src="https://e1.pngegg.com/pngimages/670/695/png-clipart-goku-ssj-blue-v3-son-guko-character.png"
                    class="rounded-circle user_img"
                  />
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span *ngIf="group">{{ group.name }}</span>
                  <span *ngIf="!group">Cargando datos de grupo</span>
                </div>
                <div class="video_cam">
                  <!-- <span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span> -->
                </div>
              </div>
              <span id="action_menu_btn" (click)="toggleActionMenu()"
                ><i class="fas fa-ellipsis-v"></i
              ></span>
              <div class="action_menu" [ngClass]="{ show: showActionMenu }">
                <ul>
                  <li *ngIf="group">
                    <a [routerLink]="['/group-info',group.id]"
                      ><i class="fas fa-user-circle"></i> View Info</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body msg_card_body">
              <div *ngFor="let message of messages" >
                <div class="d-flex justify-content-start mb-4" *ngIf="message.sender_id != userAuth.id">
                  <div class="msg_info" >
                    <span class="msg_sender">{{ message.sender_name }}</span>
                    <div class="msg_cotainer">
                      {{ message.content }}
                      <span class="msg_time">{{ getMessageTime(message.created_at) }}</span>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-end mb-4" *ngIf="message.sender_id == userAuth.id">
                  <div class="msg_cotainer_send">
                    {{ message.content }}
                    <span class="msg_time_send">{{ getMessageTime(message.created_at) }}</span>
                    <span class="msg_status"
                        ><i class="fas fa-check-double"></i
                      ></span>
                  </div>
                  <div class="img_cont_msg"></div>
                </div>
              </div>

              <ng-container *ngFor="let msg of sentMessages">
                <div class="d-flex justify-content-end mb-4">
                  <div class="msg_cotainer_send">
                    {{ msg.text }}
                    <span class="msg_time_send">{{ msg.time }}</span>
                    <span class="msg_status"
                      ><i class="fas fa-check-double"></i
                    ></span>
                  </div>
                  <div class="img_cont_msg"></div>
                </div>
              </ng-container>
            </div>
            <div class="card-footer">
              <div class="input-group">
                <div class="input-group-append">
                  <!-- <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span> -->
                </div>
                <textarea
                  name=""
                  class="form-control type_msg"
                  placeholder="Type your message..."
                  (keyup.enter)="sendMessage()"
                ></textarea>
                <div class="input-group-append">
                  <span
                    class="input-group-text send_btn"
                    (click)="sendMessage()"
                    ><i class="fas fa-location-arrow"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
